
<style>
    body {
        direction: rtl;
    }

    h2 {
        text-align: center;
    }

    .drow {
        display: table-row;
    }

    .dcell {
        display: table-cell;
        padding: 15px;
    }

        .dcell > * {
            vertical-align: middle;
        }

    img {
        width: 70px;
        height: 30px;
        padding: 10px;
    }

    .ImgEdit, .ImgDelete {
        font-size: 8px;
        width: 35px;
        height: 17px;
    }

    .imgtitle {
        font-size: 12px;
        font-weight: bold;
    }

    .imgdescription {
        font-size: 12px;
    }

    .ErrorMessage {
        margin-top: 2em;
        margin-right: 2em;
        color: red;
        font-size: 12px;
    }
</style>

@model test1.Models.MyGalleryModel
@{
    Layout = "";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<center>
    <div div id="Page" class="dtable">
        @using (Html.BeginForm("MyPhoto", "Home"))
        {
            <div id="Row2_1" class="drow"></div>
            <div id="Row2_2" class="drow">
                <div id="Col2_21" class="dcell">
                    <input type="button" id="AddPhoto" value="اضافه کردن عکس جدید" class="btn btn-default" />
                </div>
            </div>
            if (Model != null && Model.StatusMessage != "")
            {
                <div id='Message' class='drow'>
                    <label class='ErrorMessage'>@Model.StatusMessage</label>
                </div>
            }
            <div id="Row2_3" class="drow">
                <div id="Col2_31" class="dcell">
                    @Html.LabelFor(m => m.AddingPhoto.Ph_Title, new { @class = "col-md-2 control-label" })
                    @Html.EditorFor(m => m.AddingPhoto.Ph_Title, new { @class = "form-control" })
                </div>
                <div id="Col2_32" class="dcell">
                    @Html.LabelFor(m => m.AddingPhoto.Ph_Description, new { @class = "col-md-2 control-label" })
                    @Html.TextAreaFor(m => m.AddingPhoto.Ph_Description, new { @class = "form-control" })
                </div>
                @Html.HiddenFor(m => m.AddingPhoto.Ph_Path)
                <div id="Col2_33" class="dcell">
                    <input type="file" id="SelectPhoto" name="file" value="انتخاب عکس" class="btn btn-default" accept="image/*" />
                </div>
                <div id="Col2_334" class="dcell">
                    <input type="submit" id="SavePhoto" value="ذخیره عکس" />
                </div>
            </div>
        }
    </div>
</center>



